.nav-main {
    background-color: #155263;
    display: flex;
    flex-direction: row;
}

.nav-main h2{
    color: #ffff;

}
.nav-one {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.nav-one img {
    width: auto;
    height: 35px;
    position: relative;
}



.nav-two {
    position: absolute;
    right: 25px;
    top: 10px;
}

.nav-two button {
    background-color: #ffc93c;
    padding: 5px;
}